
.footer-bar {

    min-height: 50vh;
    position: relative;
    width: 100%;
    padding: 17px 20px 20px;
    text-align: center;
    margin-top: 50px;

}

.ffcontent {
    width: 100%;
    height: 90px;
    bottom: 0px;
    position: absolute;
    border-top: 15px;
    color: #808080;
}

nav a {
    display: inline-block;
    margin: 0 20px 0 20px;
    color: #808080;
    font-size: 14px;
    padding: 0px 10px 0px 11px;
    text-decoration: none;
}

nav a:visited {
    color: #808080;
}

footer p {
    margin-top: 0;
    margin-bottom: 10px;
}

footer p span {
    display: inline-block;
    margin: 6px 0px 0px;
}